.g-root h1 {
    font-family: var(--g-text-header-font-family);
    font-weight: 700;
}

.g-root h2,
h3,
h4,
h5,
h6 {
    font-family: var(--g-text-header-font-family);
    font-weight: 600;
}

.g-root {
    --g-text-header-font-family: 'Manrope', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --g-font-family-monospace: 'Martian Mono', 'Monaco', 'Consolas', 'Ubuntu Mono',
        'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    --g-text-accent-font-weight: 700;

    /* g-colors-private-green-light; */
    --g-color-private-green-50: rgba(235, 150, 55, 0.1);
    --g-color-private-green-100: rgba(235, 150, 55, 0.15);
    --g-color-private-green-150: rgba(235, 150, 55, 0.2);
    --g-color-private-green-200: rgba(235, 150, 55, 0.3);
    --g-color-private-green-250: rgba(235, 150, 55, 0.4);
    --g-color-private-green-300: rgba(235, 150, 55, 0.5);
    --g-color-private-green-350: rgba(235, 150, 55, 0.6);
    --g-color-private-green-400: rgba(235, 150, 55, 0.7);
    --g-color-private-green-450: rgba(235, 150, 55, 0.8);
    --g-color-private-green-500: rgba(235, 150, 55, 0.9);
    --g-color-private-green-50-solid: rgb(235, 150, 55);
    --g-color-private-green-100-solid: rgb(231, 124, 6);
    --g-color-private-green-150-solid: rgb(231, 124, 6);
    --g-color-private-green-200-solid: rgb(231, 124, 6);
    --g-color-private-green-250-solid: rgb(231, 124, 6);
    --g-color-private-green-300-solid: rgb(231, 124, 6);
    --g-color-private-green-350-solid: rgb(231, 124, 6);
    --g-color-private-green-400-solid: rgb(231, 124, 6);
    --g-color-private-green-450-solid: rgb(231, 124, 6);
    --g-color-private-green-500-solid: rgb(231, 124, 6);
    --g-color-private-green-550-solid: rgb(231, 124, 6);
    --g-color-private-green-600-solid: rgb(231, 124, 6);
    --g-color-private-green-650-solid: rgb(231, 124, 6);
    --g-color-private-green-700-solid: rgb(231, 124, 6);
    --g-color-private-green-750-solid: rgb(231, 124, 6);
    --g-color-private-green-800-solid: rgb(231, 124, 6);
    --g-color-private-green-850-solid: rgb(231, 124, 6);
    --g-color-private-green-900-solid: rgb(231, 124, 6);
    --g-color-private-green-950-solid: rgb(231, 124, 6);
    --g-color-private-green-1000-solid: rgb(231, 124, 6);

    /* g-colors-private-color-dark; */
    --g-color-private-color-50: rgba(231, 124, 6, 0.1);
    --g-color-private-color-100: rgba(231, 124, 6, 0.15);
    --g-color-private-color-150: rgba(231, 124, 6, 0.2);
    --g-color-private-color-200: rgba(231, 124, 6, 0.3);
    --g-color-private-color-250: rgba(231, 124, 6, 0.4);
    --g-color-private-color-300: rgba(231, 124, 6, 0.5);
    --g-color-private-color-350: rgba(231, 124, 6, 0.6);
    --g-color-private-color-400: rgba(231, 124, 6, 0.7);
    --g-color-private-color-450: rgba(231, 124, 6, 0.8);
    --g-color-private-color-500: rgba(231, 124, 6, 0.9);
    --g-color-private-color-50-solid: rgb(161, 86, 4);
    --g-color-private-color-100-solid: rgb(161, 86, 4);
    --g-color-private-color-150-solid: rgb(161, 86, 4);
    --g-color-private-color-200-solid: rgb(161, 86, 4);
    --g-color-private-color-250-solid: rgb(161, 86, 4);
    --g-color-private-color-300-solid: rgb(161, 86, 4);
    --g-color-private-color-350-solid: rgb(161, 86, 4);
    --g-color-private-color-400-solid: rgb(161, 86, 4);
    --g-color-private-color-450-solid: rgb(161, 86, 4);
    --g-color-private-color-500-solid: rgb(161, 86, 4);
    --g-color-private-color-550-solid: rgb(161, 86, 4);
    --g-color-private-color-600-solid: rgb(161, 86, 4);
    --g-color-private-color-650-solid: rgb(161, 86, 4);
    --g-color-private-color-700-solid: rgb(161, 86, 4);
    --g-color-private-color-750-solid: rgb(161, 86, 4);
    --g-color-private-color-800-solid: rgb(161, 86, 4);
    --g-color-private-color-850-solid: rgb(161, 86, 4);
    --g-color-private-color-900-solid: rgb(161, 86, 4);
    --g-color-private-color-950-solid: rgb(161, 86, 4);
    --g-color-private-color-1000-solid: rgb(161, 86, 4);

    /* //g-colors-private-dark */
    --g-color-private-white-50-solid: rgb(34, 43, 38);
    --g-color-private-white-70-solid: rgb(38, 48, 43);
    --g-color-private-white-100-solid: rgb(45, 54, 50);
    --g-color-private-white-150-solid: rgb(57, 65, 61);
    --g-color-private-white-200-solid: rgb(69, 77, 73);
    --g-color-private-white-250-solid: rgb(80, 88, 84);
    --g-color-private-white-300-solid: rgb(92, 99, 95);
    --g-color-private-white-350-solid: rgb(104, 110, 107);
    --g-color-private-white-400-solid: rgb(115, 121, 118);
    --g-color-private-white-450-solid: rgb(127, 132, 130);
    --g-color-private-white-500-solid: rgb(138, 143, 141);
    --g-color-private-white-550-solid: rgb(150, 155, 152);
    --g-color-private-white-600-solid: rgb(162, 166, 164);
    --g-color-private-white-650-solid: rgb(173, 177, 175);
    --g-color-private-white-700-solid: rgb(185, 188, 187);
    --g-color-private-white-750-solid: rgb(197, 199, 198);
    --g-color-private-white-800-solid: rgb(208, 210, 209);
    --g-color-private-white-850-solid: rgb(220, 222, 221);
    --g-color-private-white-900-solid: rgb(232, 233, 232);
    --g-color-private-white-950-solid: rgb(243, 244, 244);
    --g-color-private-white-1000-solid: rgb(255, 255, 255);
}

.g-root_theme_light {
    --g-color-private-dark-green-50: rgba(20, 45, 35, 0.05);
    --g-color-private-dark-green-100: rgba(20, 45, 35, 0.1);
    --g-color-private-dark-green-150: rgba(20, 45, 35, 0.15);
    --g-color-private-dark-green-200: rgba(20, 45, 35, 0.2);
    --g-color-private-dark-green-250: rgba(20, 45, 35, 0.25);
    --g-color-private-dark-green-300: rgba(20, 45, 35, 0.3);
    --g-color-private-dark-green-350: rgba(20, 45, 35, 0.35);
    --g-color-private-dark-green-400: rgb(117, 117, 117);
    --g-color-private-dark-green-450: rgba(20, 45, 35, 0.45);
    --g-color-private-dark-green-500: rgba(20, 45, 35, 0.5);
    --g-color-private-dark-green-550: rgba(20, 45, 35, 0.55);
    --g-color-private-dark-green-600: rgba(0, 0, 0, 0.38);
    --g-color-private-dark-green-650: rgba(20, 45, 35, 0.65);
    --g-color-private-dark-green-700: rgba(20, 45, 35, 0.7);
    --g-color-private-dark-green-750: rgba(20, 45, 35, 0.75);
    --g-color-private-dark-green-800: rgba(0, 0, 0, 0.6);
    --g-color-private-dark-green-850: rgba(20, 45, 35, 0.85);
    --g-color-private-dark-green-900: rgba(20, 45, 35, 0.9);
    --g-color-private-dark-green-950: rgba(20, 45, 35, 0.95);
    --g-color-private-dark-green-1000-solid: rgba(0, 0, 0, 0.87);

    --g-color-text-dark-primary: var(--g-color-private-dark-green-1000-solid);
    --g-color-text-dark-complementary: var(--g-color-private-dark-green-800);
    --g-color-text-dark-secondary: var(--g-color-private-dark-green-600);
    --g-color-text-dark-hint: var(--g-color-private-dark-green-400);

    --g-color-base-brand: var(--g-color-private-green-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-green-650-solid);
    --g-color-base-selection: var(--g-color-private-green-150);
    --g-color-base-selection-hover: var(--g-color-private-green-300);

    --g-color-text-link: var(--g-color-private-green-700-solid);
    --g-color-text-link-hover: var(--g-color-private-green-850-solid);
    --g-color-text-brand: var(--g-color-private-green-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-green-850-solid);
    --g-color-line-brand: var(--g-color-private-green-550-solid);
}

.g-root_theme_dark {
    --g-color-base-background: rgba(22, 32, 27, 1);

    --g-color-base-brand: var(--g-color-private-green-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-green-650-solid);
    --g-color-base-selection: var(--g-color-private-green-150);
    --g-color-base-selection-hover: var(--g-color-private-green-300);

    --g-color-text-link: var(--g-color-private-green-600-solid);
    --g-color-text-link-hover: var(--g-color-private-green-850-solid);
    --g-color-text-brand: var(--g-color-private-green-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-green-850-solid);
    --g-color-line-brand: var(--g-color-private-green-550-solid);
}

.dc-subscribe__variants-action {
  color: var(--g-color-text-dark-primary);
}

.dc-subscribe__variants-action:hover {
    color: var(--g-color-text-dark-primary);
}

a.dc-breadcrumbs__text.dc-breadcrumbs__text_link {
  outline: none;
  color: var(--yc-color-text-link);
  text-decoration: none;
  cursor: pointer;
}

a.dc-breadcrumbs__text.dc-breadcrumbs__text_link:hover {
    color: var(--g-color-text-link-hover);
}

.dc-toc-item__text {
    font-family: var(--g-font-family-sans);
    font-size: var(--g-text-body-1-font-size);
    font-weight: var(--g-text-body-font-weight);
}

.dc-sidebar .dc-toc-item__text {
    font-size: var(--g-text-body-2-font-size);
}
